.greenText {
    text-color: green;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.clear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.pointer {
    cursor: pointer;
}

.whiteText {
    color: #ffffff;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}